<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the prop file: sport.properties -->
	<context:property-placeholder location="classpath:sport.properties" />
	
    <!-- Define your beans here -->
    
    <!-- Define the dependency -->
    <bean id="myFortuneService"
    	class="com.Demo1.SpringPractice.HappyFortuneService">
    </bean>
    
    <bean id="myCoach"
    	class="com.Demo1.SpringPractice.TrackCoach">
    	
    	<!-- Setup constructor injection -->
    	<constructor-arg ref="myFortuneService" />
    	
    </bean>
	
	<bean id="myCricketCoach"
		class="com.Demo1.SpringPractice.CricketCoach" >
		
		<!-- setup setter injection -->
		<property name="fortuneService" ref="myFortuneService" />
		
		<!-- inject literal values -->
		<property name="emailAdd" value="email@coach.com" />
		<property name="team" value="Mumbai Indians" />
		
		<property name="emailAdd" value="${foo.email}" />
		<property name="team" value="${foo.team}" />
		
	</bean>

    <!--
    <bean id="myCoach"
        class="com.luv2code.springdemo.BaseballCoach">         
    </bean>
    -->

</beans>